:root {
	--light-gray: #d9d9d9;
	--custom-green: #aafa00;
	--white-color: #fff;
	--dark: #0f0f0f;
	--black-color: #000;
	--neutral-gray: #7e7e7e;
	--course-feedback-bg: #161719;
}

/* General Reset */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Satoshi', sans-serif;
	font-weight: 400;
	font-size: 26px;
	line-height: 1.35;
	color: var(--light-gray);
	background-color: #f4f4f9;
	overflow-x: hidden;
}

/* Container */
.container {
	max-width: 1230px;
	width: 100%;
	margin: 0 auto;
	padding: 0 15px;
}

ul,
ol {
	list-style: none;
	padding: 0;
	margin: 0;
}

a {
	text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin-top: 0;
	margin-bottom: 0;
}

.btn {
	padding: 33px 60px;
	font-weight: 500;
	font-size: 22px;
	line-height: 1.35;
	color: var(--dark);
	background-color: var(--custom-green);
	border-radius: 50px;
	border: none;
	border: 1px solid transparent;
	cursor: pointer;
	white-space: nowrap;
	transition: all 0.4s ease;
}

.btn:hover {
	border: 1px solid var(--custom-green);
	background-color: transparent;
	color: var(--custom-green);
}

.btn:active {
	opacity: 0.6;
}

.site-top {
	background-image: url(../images/header/hero-blok.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	padding-bottom: 60px;
}

.site-header {
	padding-top: 54px;
	padding-bottom: 684px;
}

.site-header-container {
	display: flex;
	align-items: center;
}

.logo {
	margin-right: auto;
}

.logo-img {
	width: 229px;
	height: 42px;
	object-fit: contain;
}

.main-nav {
	margin-right: 60px;
}

.nav-list {
	display: flex;
}

.nav-list li:not(:last-child) {
	margin-right: 60px;
}

.nav-link {
	color: var(--custom-green);
	font-size: 24px;
	line-height: 1.35;
	font-weight: 400;
	transition: color 0.4s ease, opacity 0.4s ease;
}

.nav-link:hover {
	color: var(--light-gray);
}

.nav-link:active {
	opacity: 0.6;
}

.card {
	display: flex;
	transition: transform 0.4s ease;
}

.card:hover {
	transform: scale(1.2);
}

.card img {
	width: 26px;
	height: 26px;
	object-fit: contain;
}

/* Mobile Menu Toggle */
.menu-toggle {
	display: none;
	width: 48px;
	height: 48px;
	background-color: var(--white-color);
	border-radius: 50%;
	border: none;
	cursor: pointer;
}

.menu-toggle .menu-icon {
	width: 25px;
	height: 25px;
	display: block;
	margin: 5px 0;
	object-fit: contain;
}

/* Mobile Menu */
.mobile-menu {
	position: fixed;
	top: 0;
	left: -100%;
	width: 100%;
	height: 100%;
	background-color: #000;
	box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
	transform: translateX(-100%);
	transition: transform 0.3s ease;
	display: flex;
	flex-direction: column;
	padding: 56px 20px 20px;
	z-index: 1000;
}

.mobile-menu.active {
	transform: translateX(100%);
}

.menu-header {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-bottom: 30px;
}

.menu-logo {
	margin-bottom: 16px;
}

.close-menu {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-left: auto;
	margin-bottom: 20px;
	width: 36px;
	height: 36px;
	background-color: var(--white-color);
	border-radius: 50%;
	border: none;
	cursor: pointer;
}

.close-icon {
	width: 20px;
	height: 20px;
	display: block;
	margin: 5px 0;
	object-fit: contain;
}

/* Menu list styling */
.menu-list {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 20px;
}

.menu-link {
	color: var(--custom-green);
	font-size: 24px;
	line-height: 1.35;
	font-weight: 400;
	transition: color 0.4s ease, opacity 0.4s ease;
}

.menu-link:hover {
	color: var(--light-gray);
}

.menu-link:active {
	opacity: 0.6;
}

/* HERO START */
.hero-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.hero-info {
	max-width: 549px;
	width: 100%;
	margin-right: 10px;
}

.hero-text-green {
	color: var(--custom-green);
	margin-bottom: 20px;
}
/* HERO END */

/* why-choose-course START */
.why-choose-course {
	position: relative;
	padding-top: 60px;
	padding-bottom: 181px;
	background-color: var(--black-color);
	background-image: url(../images/why-choose-course/stars.svg);
	background-repeat: no-repeat;
	background-position: center center;
}

.why-choose-course-container {
	max-width: 920px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	padding: 0 20px;
}

.why-choose-course-header {
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 40px;
}

.why-choose-course-header2 {
	margin-bottom: 71px;
}

.why-choose-course-title {
	font-weight: 900;
	font-size: 52px;
	line-height: 1.2;
	color: var(--white-color);
}

.highlighted {
	display: inline-block;
	font-weight: 500;
	font-size: 54px;
	line-height: 1.25;
	color: var(--neutral-gray);
}

.why-choose-course-video {
	position: relative;
}
.video-thumbnail {
	width: 100%;
	height: 494px;
	object-fit: content;
}
.video-play-button {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.enroll-button {
	position: absolute;
	bottom: -5%;
	left: 50%;
	transform: translate(-50%, 5%);
}

.enroll-button:hover {
	background-color: var(--custom-green);
	color: var(--dark);
	opacity: 0.8;
}
/* why-choose-course END */

/* course-instructor START */
.course-instructor {
	padding-top: 88px;
	padding-bottom: 448px;
	position: relative;
}

.instructor-header {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	margin-bottom: 48px;
}

.instructor-title {
	font-size: 52px;
	font-weight: 900;
	line-height: 1.1;
	max-width: 451px;
	width: 100%;
	color: var(--black-color);
}

.instructor-header span {
	font-size: 54px;
	font-weight: 500;
	color: var(--neutral-gray);
}

.instructor-details {
	display: flex;
	justify-content: space-between;
}

.profile-image {
	flex: 0 0 300px;
	text-align: center;
}

.profile-image img {
	width: 460px;
	border-radius: 10px;
}

.details-item {
	display: flex;
	flex-direction: column;
	align-items: end;
	justify-content: end;
	text-align: right;
	max-width: 284px;
	width: 100%;
	margin-bottom: 40px;
}

.details-item:last-child {
	margin-bottom: 0;
}

.details-item-2 {
	align-items: start;
	text-align: left;
}

.details-span {
	font-weight: 500;
	font-size: 54px;
	color: var(--black-color);
	margin-bottom: 15px;
}

.details-text {
	line-height: 1.5;
	color: var(--dark);
}

.img-relative-2 {
	position: absolute;
	top: -20px;
	right: 0px;
}

.img-relative {
	position: absolute;
	top: 0px;
	left: 0px;
}

/* start course */
.course-container {
	position: absolute;
	left: 50%;
	bottom: -15%;
	transform: translateX(-50%);
	background-color: #aafa00;
	border-radius: 56px;
	padding: 36px;
}

.course {
	border: 1px dashed #000;
	border-radius: 26px;
	padding: 45px 25px;
}

.course-title {
	font-size: 54px;
	font-weight: 500;
	margin-bottom: 37px;
	text-align: center;
	color: #000;
}

.course-list {
	display: flex;
	align-items: end;
	justify-content: space-between;
	height: 395px;
}

.course-item {
	width: 30%;
	max-height: 255px;
	height: 100%;
	background-color: white;
	padding: 35px 26px;
	border-radius: 26px;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	display: flex;
	flex-direction: column;
	align-items: start;
	justify-content: end;
	position: relative;
	color: #0f0f0f;
}

.course-img {
	top: -150px;
	height: 290px;
	max-width: 350px;
	width: 100%;
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.course-box-title {
	font-size: 42px;
	font-weight: 900;
	margin-bottom: 10px;
}

.course-box p {
	font-size: 26px;
	line-height: 1.5;
}
/* course-instructor END */
.course-feedback-section {
	padding-top: 293px;
	padding-bottom: 120px;
	background-color: var(--course-feedback-bg);
}

.splide__list {
	margin-bottom: 80px !important;
}

.splide__slide {
	max-width: 380px;
	width: 100%;
	background-color: var(--white-color);
	padding: 20px 25px 40px;
	border-radius: 24px;
	gap: 20px;
}

.splide__slide:not(:last-child) {
	margin-right: 30px;
}

.carousel-item-image {
	width: 100%;
	margin-bottom: 40px;
}

.carousel-item-name {
	font-weight: 700;
	font-size: 22px;
	margin-bottom: 10px;
	color: var(--black-color);
}

.carousel-item-feedback {
	font-weight: 400;
	font-size: 16px;
	color: var(--dark);
}

.splide__pagination__page {
	display: none;
}

.splide__arrow--prev {
	left: -8em;
}

.splide__arrow--next {
	right: -7em;
}

.splide__arrow svg path {
	width: 33px;
	height: 18px;
	fill: var(--white-color);
}

.splide__arrow {
	background-color: rgba(255, 255, 255, 0.4);
	width: 70px;
	height: 70px;
}

.cta-btn {
	display: flex;
	align-items: center;
	justify-content: center;
}

/* CONTACT START */
.contact {
	padding-top: 82px;
	padding-bottom: 120px;
}
.contact-container {
	position: relative;
	max-width: 1045px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	padding-left: 20px;
	padding-right: 20px;
}

.contact-start-left {
	position: absolute;
	left: -371px;
	top: -22px;
}

.contact-start-right {
	position: absolute;
	right: -258px;
	top: -16px;
}

.contact-info {
	text-align: center;
	margin-bottom: 60px;
}

.contact-title {
	font-size: 52px;
	font-weight: 900;
	line-height: 1.1;
	text-transform: uppercase;
	color: var(--black-color);
	margin-bottom: 20px;
}

.contact-text {
	font-size: 46px;
	color: var(--neutral-gray);
	line-height: 1.3;
	margin-bottom: 20px;
}

.contact-list {
	display: flex;
	justify-content: space-between;
}

.contact-item {
	max-width: 400px;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.contact-item:not(:last-child) {
	margin-right: 10px;
}

.contact-image {
	width: 311px;
	height: auto;
	object-fit: cover;
}

.primary-button {
	background-color: var(--custom-green);
	border: none;
	border-radius: 26px;
	font-size: 16px;
	width: 100%;
	padding-top: 22px;
	padding-bottom: 22px;
	cursor: pointer;
	transition: transform 0.3s ease, color 0.3s ease;
}

.primary-button:hover {
	transform: translateY(-5px);
	color: #ff0000;
}

.secondary-button:hover {
	transform: translateY(-5px);
	color: #0348de;
}
/* CONTACT END */
/* -------  MEDIA -------- */
@media screen and (max-width: 1180px) {
	.instructor-header {
		margin-bottom: 50px;
	}

	.instructor-title {
		font-size: 48px;
	}

	.instructor-header span {
		font-size: 48px;
	}

	.profile-image img {
		width: 400px;
	}

	.details-item {
		margin-bottom: 35px;
	}

	.details-span {
		font-size: 48px;
	}

	.details-text {
		color: #0f0f0f;
	}

	.img-relative-2 {
		width: 200px;
		height: 200px;
	}

	.img-relative {
		width: 200px;
		height: 200px;

		/* start course */
	}
	.course-container {
		bottom: -55%;
		padding: 30px;
	}

	.course {
		padding: 45px 25px;
	}

	.course-title {
		font-size: 48px;
		margin-bottom: 60px;
	}

	.course-list {
		flex-direction: column;
		align-items: center;
		justify-content: center;
		width: auto;
		height: auto;
	}

	.course-item {
		justify-content: center;
		margin-bottom: 100px;
		width: 60%;
		height: 255px;
		padding: 35px 26px;
		align-items: center;
	}

	.course-item:last-child {
		margin: 0;
	}

	.course-img {
		padding: 10px;
		top: -120px;
		height: 250px;
		max-width: 350px;
		width: 100%;
	}

	.course-img-img {
		width: 60%;
	}

	.course-box-title {
		font-size: 36px;
		margin-bottom: 10px;
	}

	.course-box p {
		font-size: 20px;
		line-height: 1.5;
	}
}

@media screen and (max-width: 940px) {
	body {
		font-size: 22px;
	}

	.btn {
		padding: 30px 54px;
		font-size: 20px;
	}

	.site-header {
		padding-top: 54px;
		padding-bottom: 684px;
	}

	.logo-img {
		width: 200px;
		height: 40px;
	}

	.main-nav {
		margin-right: 40px;
	}

	.nav-list li:not(:last-child) {
		margin-right: 40px;
	}

	.nav-link {
		font-size: 22px;
	}

	.card img {
		width: 24px;
		height: 24px;
	}

	.why-choose-course {
		padding-top: 60px;
		padding-bottom: 160px;
	}

	.why-choose-course-header {
		margin-bottom: 36px;
	}

	.why-choose-course-title {
		font-size: 50px;
	}

	.highlighted {
		font-size: 50px;
	}

	.contact {
		padding-top: 76px;
		padding-bottom: 100px;
	}

	.contact-info {
		margin-bottom: 48px;
	}

	.contact-title {
		font-size: 48px;
		margin-bottom: 18px;
	}

	.contact-text {
		font-size: 40px;
		margin-bottom: 18px;
	}

	.contact-item:not(:last-child) {
		margin-right: 10px;
	}

	.contact-image {
		width: 300px;
	}

	.primary-button {
		padding-top: 20px;
		padding-bottom: 20px;
	}
}
@media screen and (max-width: 860px) {
	.instructor-details {
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.instructor-header {
		margin-bottom: 50px;
	}

	.instructor-title {
		font-size: 48px;
	}

	.instructor-header span {
		font-size: 48px;
	}

	.profile-image img {
		width: 360px;
		height: 500px;
	}

	.details-item {
		margin-bottom: 35px;
		align-items: center;
	}

	.details-span {
		font-size: 48px;
	}

	.details-text {
		text-align: center;
		color: #0f0f0f;
	}

	.img-relative-2 {
		width: 150px;
		height: 150px;
		top: -20px;
	}

	.img-relative {
		width: 150px;
		height: 150px;
		top: 10%;
	}
	/* start course */

	.course-container {
		bottom: -22%;
		padding: 20px;
	}

	.course {
		padding: 30px 20px;
	}

	.course-title {
		font-size: 28px;
		margin-bottom: 40px;
	}

	.course-item {
		margin-bottom: 50px;
		width: 80%;
		height: 190px;
		padding: 10px 10px;
		align-items: center;
	}

	.course-item:last-child {
		margin: 0;
	}

	.course-img img:nth-child(1) {
		height: 80px;
	}
	.course-img-img {
		width: 60%;
		height: 150px;
	}

	.course-box-title {
		font-size: 28px;
		margin-bottom: 10px;
	}

	.course-box p {
		font-size: 16px;
		line-height: 1.5;
	}
}
@media screen and (max-width: 820px) {
	.main-nav {
		display: none;
	}

	.card {
		display: none;
	}

	.menu-toggle {
		display: block;
	}

	.menu-card {
		display: block;
		margin-top: 20px;
	}

	.menu-card img {
		width: 50px;
		height: 50px;
	}
}

@media screen and (max-width: 768px) {
	body {
		font-size: 20px;
	}

	.btn {
		padding: 24px 40px;
		font-size: 18px;
	}

	.enroll-button {
		bottom: -4%;
	}

	.why-choose-course {
		padding-top: 48px;
		padding-bottom: 140px;
	}

	.why-choose-course-header {
		margin-bottom: 30px;
	}

	.why-choose-course-title {
		font-size: 48px;
	}

	.highlighted {
		font-size: 48px;
	}

	.contact {
		padding-top: 70px;
		padding-bottom: 80px;
	}

	.contact-info {
		margin-bottom: 36px;
	}

	.contact-title {
		font-size: 36px;
		margin-bottom: 14px;
	}

	.contact-text {
		font-size: 32px;
		margin-bottom: 14px;
	}

	.contact-image {
		width: 260px;
	}

	.primary-button {
		padding-top: 16px;
		padding-bottom: 16px;
	}
}

@media screen and (max-width: 640px) {
	body {
		font-size: 18px;
	}

	.btn {
		padding: 16px 36px;
		font-size: 16px;
	}

	.enroll-button {
		bottom: -3%;
	}

	.hero-container {
		flex-direction: column;
	}

	.hero-info {
		margin-right: 0;
		margin-bottom: 10px;
	}

	.why-choose-course {
		padding-top: 48px;
		padding-bottom: 80px;
	}

	.why-choose-course-header {
		margin-bottom: 24px;
	}

	.why-choose-course-title {
		font-size: 36px;
	}

	.highlighted {
		font-size: 36px;
	}

	.video-play-button img {
		width: 100px;
		height: 100px;
	}

	.course-img-img {
		height: 100px;
	}

	.course-img img:nth-child(1) {
		height: 60px;
	}

	.contact {
		padding-bottom: 60px;
	}

	.contact-info {
		margin-bottom: 32px;
	}

	.contact-title {
		font-size: 32px;
		margin-bottom: 12px;
	}

	.contact-text {
		font-size: 30px;
		margin-bottom: 12px;
	}

	.contact-image {
		width: 240px;
	}

	.primary-button {
		padding-top: 14px;
		padding-bottom: 14px;
	}
}

@media screen and (max-width: 520px) {
	.instructor-header {
		margin-bottom: 50px;
	}

	.instructor-title {
		font-size: 36px;
		text-align: center;
	}

	.instructor-header span {
		font-size: 36px;
	}

	.profile-image img {
		width: 80%;
		height: auto;
	}

	.details-item {
		margin-bottom: 20px;
		align-items: center;
	}

	.details-span {
		font-size: 36px;
	}

	.details-text {
		color: #0f0f0f;
	}

	.img-relative-2 {
		width: 120px;
		height: 120px;
		top: 15%;
	}

	.img-relative {
		width: 120px;
		height: 120px;
		top: 10%;
	}

	.course-container {
		bottom: -30%;
	}

	.contact {
		padding-bottom: 40px;
	}

	.contact-info {
		margin-bottom: 28px;
	}

	.contact-title {
		font-size: 28px;
		margin-bottom: 12px;
	}

	.contact-text {
		font-size: 26px;
		margin-bottom: 12px;
	}

	.contact-list {
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	.contact-item {
		align-items: center;
		justify-content: center;
	}

	.contact-image {
		width: 80%;
	}

	.primary-button {
		padding-top: 12px;
		padding-bottom: 12px;
	}
}

@media screen and (max-width: 480px) {
	body {
		font-size: 16px;
	}

	.btn {
		padding: 10px 20px;
	}

	.why-choose-course {
		padding-top: 40px;
		padding-bottom: 60px;
	}

	.why-choose-course-header {
		margin-bottom: 24px;
	}

	.why-choose-course-title {
		font-size: 28px;
	}

	.highlighted {
		font-size: 28px;
	}

	.video-play-button img {
		width: 56px;
		height: 56px;
	}

	.instructor-title {
		font-size: 28px;
	}
}
